@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  .btn {
    width: 100%;

  }

  .dansei {
    margin-bottom: 10px;
  }

  .jyosei{
    margin-bottom: 10px;
    text-align:left;
  }
  .signup{
    width:100%;
  }

  .top-wrapper {
    text-align: center;
  }

  /* header-rightクラスのdisplayをnoneに指定してください */
  .logo{
    width:100%;
  }

  .top-wrapper h1 {
    font-size: 20px;
  }

  .top-wrapper p {
    font-size: 14px;
  }
}
