.videoBox .play {
  position: relative;
  top: -5px;
  left: -190px;
  opacity: 0.9;
}
<!-- hover時処理(おまけ) -->
.video {
  -webkit-transition: 0.5s ease-in-out;
}
.video:hover {
  opacity: 0.7;
}
.logo-asik img{
  width:100px;
  height:80px;
}
.saisei{
  width:50px;
  height:50px;
  margin-bottom: 50px;
}


.wrapper1{

}

.btn {
  position: relative;
  display: inline-block;
  letter-spacing: 1.2px;
  padding: 12px 32px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.btn--primary {
  color: lightslategray;
}

.btn--border {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  box-sizing: border-box;
}

.btn--animated {
  transition-property: color;
  transition-duration: 0.5s;

  &.btn--border.btn--primary {
    border: 1px solid lightslategray;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: lightslategray;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    z-index: -1;
  }

  &:hover {
    color: white;

    &:before {
      transform: scaleX(1);
      transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
    }
  }
}


.wrapper1 {
opacity:1.0;

width:200px;
height:150px;
margin:0 auto;
}
.wrapper2 {
opacity:1.0;
width:200px;
height:150px;
margin:0 auto;

}
.wrapper1 :hover{
opacity:0.5;
}

.wrapper2 :hover{
opacity:0.5;

}
.video{
  margin-left:50px;
  width:200px;
  height:150px;
  margin:0 auto;



}

.sentense{
  padding-left: 50px;
  font-size:100px;
  margin:0 auto;
}
.logo-asik{
  padding-left: 30px;
  font-size: 100px;
}
