
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 170px 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;


  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}



.btn-wrapper {
  text-align: center;
  margin: 20px 40px;
  padding:20px;
}

.btn-wrapper h1{
  margin:100px ;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: blue;
  margin-right: 10px;
}

.twitter {
  background-color: red;
}

.btn {
  padding: 40px 30px;
  color: white;
  display: inline-block;
  opacity: 0.5;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}



.contents{
  height: 100px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 500px;

}

