* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}



.container h1{
  max-width: 1170px;
  width: 100%;
  padding: 170px 15px;
  text-align:center;
}



.logo {
  width: 500px;

}
